<nlog>
	<!-- Write errors and warnings to RhetosServer.log. Enabled by default. -->
	<logger name="*" minLevel="Info" writeTo="MainLog" />
	
	<!--On internal server error write a full server request description to RhetosServerCommandsTrace.xml. Enabled by default.-->
	<logger name="ProcessingEngine CommandsWithServerError" minLevel="Trace" writeTo="TraceCommandsXml" />

	<!--On client error (incorrect data or invalid request) write a full server request description to RhetosServerCommandsTrace.xml. Disabled by default.-->
	<logger name="ProcessingEngine CommandsWithClientError" minLevel="Trace" writeTo="TraceCommandsXml" />

	<!--Write all events to RhetosServerTrace.log. Use this option only for a short time, because it generates a lot of data and can hinder the server performance.-->
	<logger name="*" minLevel="Trace" writeTo="TraceLog" />

	<!--Write a short description of each server request to RhetosServerTrace.log-->
	<logger name="ProcessingEngine Request" minLevel="Trace" writeTo="TraceLog" />
</nlog>